{% extends "base.html.twig" %}

{% block body %}
<div class="container">
		<h1 class="text-danger">Modifier le plat</h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}

		    <button class="btn btn-danger">{{ button_label|default('Modifier') }}</button>
		{{ form_end(form) }}

	</div>{% endblock %}